<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>67</integer>
	<key>Time Stamp</key>
	<real>1771943273.2728961</real>
	<key>UUID</key>
	<string>07EEB6DF-BDC7-4886-8C8A-616262FFA3FB</string>
</dict>
</plist>
